<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6">
        <%= image_tag image(@product), class: 'card-img-top mb-5 mb-md-0' %>
      </div>
      <div class="col-md-6">
        <div class="small mb-1"><%= @product.decorate.code %></div>
        <h1 class="display-5 fw-bolder"><%= @product.name %></h1>
        <div class="fs-5 mb-5">
          <% if @product.discount_price  %>
            <span class="text-muted text-decoration-line-through"><%= format_price(@product.min_price) %></span>
            <span><%= format_price(@product.discount_price) %></span>
          <% else %>
            <%= @product.max_price ? "#{format_price(@product.min_price)} - #{format_price(@product.max_price)}" : format_price(@product.min_price) %>
          <% end %>
        </div>
        <p class="lead"><%= @product.description %></p>
        <%= form_with url: "/create/#{@product.id}", class: 'd-flex', local: true, data: { turbo: false } do |f| %>
          <%= f.number_field :quantity, class: 'form-control text-center me-3', style: 'max-width: 4rem', min: 1, value: '1' %>
          <%= button_tag type: 'submit', class: 'btn btn-outline-dark flex-shrink-0' do %>
            <i class="bi-cart-fill me-1"></i>
            カートに追加
          <% end %>
        <% end %>
        <%= render 'share/error_messages', object: @cart_item %>
      </div>
    </div>
  </div>
</section>
<section class="py-5 bg-light">
  <div class="container px-4 px-lg-5 mt-5">
    <h2 class="fw-bolder mb-4">最新の商品</h2>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <% @recent_products.each do |product| %>
        <%= render 'products/card', product: product %>
      <% end %>
    </div>
  </div>
</section>
